<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
	  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	  <%= csrf_meta_tags %>	  
	  <title>Heracles Manager: <%= controller.action_name %></title>
	  <%= stylesheet_link_tag 'application', 'generic', 'specific', media: 'all', 'data-turbolinks-track' => true %>
	  <%# javascript_include_tag 'jQuery', 'jQueryTools', :defaults, 'tablesort' %>
	</head>
	<body>
		<div id='stripe'></div>
		<div id='wrapper'>
			<div id='header'>
				<%#image_tag('gym-e_logobar.gif', :class => "float_left")%>
				<%#image_tag('logo_300.png', :class => "float_left")%>
				<span id='welcome_user'><% if session[:access_granted] %>&nbsp; Bienvenido <%=session[:user].name.capitalize%> &nbsp; <%end%> </span>
				<div id='menu_box'>
					<a href=""<%#members_path%> class='menu_link'> <span class="glyphicon glyphicon-home" aria-hidden="true"></span> <%= t('menu.dashboard') %></a>
					<a href="/attendances/today" class='menu_link' > <span class="glyphicon glyphicon-list" aria-hidden="true"></span> <%= t('menu.list') %></a>
					<a href="" <%#memberships_path%> class='menu_link' > <span class="glyphicon glyphicon-barcode" aria-hidden="true"></span> <%= t('menu.membership') %></a>
					<a href="" <%#payments_path%> class='menu_link' ><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <%= t('menu.payments') %></a>
					<a href="" <%#payments_path%> class='menu_link' ><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span> <%= t('menu.reports') %></a>
					<a href='/sessions/logout'  class='menu_link' ><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> <%= t('menu.logout') %></a>
				</div><!-- termina el menu box -->
			</div><!--termina el header-->
			<% session[:title]=(session[:title].blank? )? t('no_sesion_title') : session[:title]%>
			<div id='title'><%=image_tag(session[:image])%><%=  session[:title]%> </div>
			<div id='content'>
				<% if flash[:notice] then %><div id="flash_notice"><%= flash[:notice] %></div><% end %>
				<script type="text/javascript">
				  <%# visual_effect(:fade, "flash_notice", :duration => 5)%>
				</script>

				<% if flash[:error] then %><div id="flash_error"><%= flash[:error] %></div><% end %>
				<script type="text/javascript">
				  <%# visual_effect(:highlight, "flash_error", :duration => 5)%>
				</script>    
				
				<%= render 'shared/user_widget' %>
				
				<%= yield %>
			</div><!-- termina el content -->
		</div><!--termina el wrapper-->
	</body>
</html>
